__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
build/
dist/

# Media files
*.png
*.gif
*.mp4

# Simulation and data outputs
*.npy
*.npz

# Pixi
.pixi/

.benchmarks/
.ruff_cache/

.venv/

# Docs
docs/_issues

# Site
site/
_site/
.quarto/
**/*.quarto_ipynb

# AIs
.claude/
CLAUDE.md

# IDEs
.vscode/
.zed/

# Debug
ruff_errors.txt
basedpyright_report.txt
