__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
build/
dist/

# png
*.png
*.gif

# UV
.venv/
uv.lock

# Docs
docs/_issues

# Site
site/
_site/
.quarto/
**/*.quarto_ipynb

# AIs
.claude/

# IDEs
.vscode/
.zed/
