name: Docs

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install 3.12

      - name: Install dependencies
        run: |
          uv venv
          uv pip install -e ".[docs]"

      - name: Build documentation
        if: github.ref != 'refs/heads/main'
        run: uv run mkdocs build

      - name: Deploy documentation
        if: github.ref == 'refs/heads/main'
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com
          uv run mkdocs gh-deploy --force
