name: Tests

on:
    push:
        branches: [main]
        paths:
            - "**.py"
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up pixi
              uses: prefix-dev/setup-pixi@v0.8.1
              with:
                  pixi-version: latest
                  environments: ci
                  locked: false

            - name: Run tests
              run: pixi run -e ci pytest tests/
